build/
build-*/
node_modules/
target/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
.vscode/
npm-debug.log*
package-lock.json
tsconfig*buildinfo
yarn-debug.log*
yarn-error.log*

# top level cargo files are needed just for rust-analyzer
Cargo.lock
Cargo.toml
